body {
    background-color: #ededed;
}

.container h1 {
    margin: 2rem 0;
    text-align: center;
    color: black;
}

li {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: black;
    border-radius: 1rem;
    margin: 0.5rem;
    font-weight: bold;
}

